*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibri;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 90px;
    background: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

body {
    margin-top: 65px;
    margin-left: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}